<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>话题发布步骤</span>
    </div>
    <div class='inner'>
      <ol>
        <li>填写标题</li>
        <li>填写内容</li>
        <li>选择话题标签</li>
        <li>确认后发布话题</li>
      </ol>
    </div>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>话题发布指南</span>
    </div>
    <div class='inner'>
      <ol>
        <li>尽量把话题要点浓缩到标题里</li>
        <li>内容对标题做进一步说明，但不是必须的</li>
        <li>给话题选择合适的标签能增加被阅读的机会</li>
      </ol>
    </div>
  </div>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>markdown语法参考</span>
    </div>
    <div class='inner'>
      <ol>
        <li>换行：两个空格</li>
        <li>分段：一个空行</li>
        <li>斜体：*斜体*</li>
        <li>粗体：**粗体**</li>
        <li>代码：行首四个空格</li>
        <li>链接：[文字](url)</li>
        <li>图片：![alt 文字](url)</li>
      </ol>
      <span>详见 <a href='http://www.ituring.com.cn/article/775' target='_blank'>Markdown Wiki</a></span>
    </div>
  </div>
</div>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <% if(locals.action && action == 'edit'){ %>
        <li class='active'>编辑话题</li>
        <% }else{ %>
        <li class='active'>发布话题</li>
        <% } %>
      </ol>
    </div>
    <div class='inner post'>
      <% if(locals.edit_error){ %>
      <div class="alert alert-error"> 
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= edit_error %></strong>
      </div>
      <% } %>
      <% if(locals.error){ %>
      <div class="alert alert-error" >  
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <% if (locals.action && action === 'edit') { %>
      <form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post' enctype="multipart/form-data">
      <% } else { %>
      <form id='create_topic_form' action='/topic/create' method='post' enctype="multipart/form-data">
      <% } %>
        <fieldset>
          <label class='bold' for='title'>标题</label>
          <textarea class='span9' id='title' name='title' rows='1' placeholder="请在此输入标题，字数控制在3到100个之间"><%= locals.title || '' %></textarea>
        </fieldset>

<script>
function toggle(num)
{
    
 if (num=='send')
    {
  document.getElementById("needDiv").style.display="none";
    document.getElementById("dedicationDiv").style.display="block";
 document.getElementById("images").style.display="block";
 document.getElementById("maxnumber").style.display="block";
document.getElementById('type_0').checked = true;
document.getElementById('type_1').checked = false;
document.getElementById('type_2').checked = false;
document.getElementById('type_3').checked = false;
document.getElementById('type_4').checked = false;
    }
    else if(num=='req')
  {
   document.getElementById("needDiv").style.display="block";
   document.getElementById("dedicationDiv").style.display="none";
   document.getElementById("images").style.display="none";
 document.getElementById("maxnumber").style.display="block";
document.getElementById('type_0').checked = false;
document.getElementById('type_1').checked = true;
document.getElementById('type_2').checked = false;
document.getElementById('type_3').checked = false;
document.getElementById('type_4').checked = false;
  }
   else if( num== 'exc')     
   {
   document.getElementById("needDiv").style.display="block";
    document.getElementById("dedicationDiv").style.display="block";
    document.getElementById("images").style.display="block";
   document.getElementById("maxnumber").style.display="block";
document.getElementById('type_0').checked = false;
document.getElementById('type_1').checked = false;
document.getElementById('type_2').checked = true;
document.getElementById('type_3').checked = false;
document.getElementById('type_4').checked = false;
    }
  else if( num=='topic')  
    { 
     document.getElementById("needDiv").style.display="none";
     document.getElementById("dedicationDiv").style.display="none";
     document.getElementById("maxnumber").style.display="none";
     document.getElementById("images").style.display="none";
document.getElementById('type_0').checked = false;
document.getElementById('type_1').checked = false;
document.getElementById('type_2').checked = false;
document.getElementById('type_3').checked = true;
document.getElementById('type_4').checked = false;

    }
  else if( num=='share')  
    {
    document.getElementById("needDiv").style.display="none";
     document.getElementById("dedicationDiv").style.display="none";
  document.getElementById("images").style.display="block";
 document.getElementById("maxnumber").style.display="none";
document.getElementById('type_0').checked = false;
document.getElementById('type_1').checked = false;
document.getElementById('type_2').checked = false;
document.getElementById('type_3').checked = false;
document.getElementById('type_4').checked = true;
   } 
}

document.getElementById('type_4').checked = true;
</script>
 
        <fieldset>
        <div id="content">
                <div style="font-weight: bold;">
                                活动类型
                </div>
           <div class="radio-toolbar">
	       
		<input id="type_0" type="radio" name="send" value="on" <% if (!locals.topic_type||locals.topic_type=="发片"){%> checked <%}%> onclick="toggle('send');"/><label for="type_0">发明信片</label>
                

		<input id="type_1" type="radio" name="req" value="on" <% if (locals.topic_type=="求片"){%> checked <%}%> onclick="toggle('req');"/><label for="type_1">求明信片</label>
		
		<input id="type_2" type="radio" name="exc" value="on" <% if (locals.topic_type=="交换"){%> checked <%}%> onclick="toggle('exc');" /><label for="type_2">交换明信片</label>
		
		<input id="type_3" type="radio" name="topic" value="on" <% if (locals.topic_type=="话题"){%> checked <%}%>  onclick="toggle('topic');" /><label for="type_3">话题</label>

		<input id="type_4" type="radio" name="share" value="on" <% if (locals.topic_type=="晒片"){%> checked <%}%> onclick="toggle('share');" /><label for="type_4">晒片</label>
             </div>              
                 
                       
                        <div id="dedicationDiv" <% if (locals.topic_type=="话题"||locals.topic_type=="求片"||locals.topic_type=="晒片"){%> style="display:none" <%}%> >
                            
                            <div style="font-weight: bold;">
                                我会寄出什么明信片
                            </div>
                            <textarea name="send_type" id="title" class='span9' rows='1' ><%= locals.send_type || '' %></textarea>
                        </div>
 
                       
                        <div id="needDiv" <% if (!locals.topic_type||locals.topic_type=="发片"||locals.topic_type=="话题"||locals.topic_type=="晒片"){%> style="display:none" <%}%> >
                            <div style="font-weight: bold;">
                                我想要什么类型的明信片
                            </div>
                            <textarea class='span9' id='title' name="request_type" rows='1'><%= locals.request_type || '' %></textarea>
                        </div>
                          
                        <div id="images"<% if (locals.topic_type=="求片"||locals.topic_type=="话题"){%> style="display:none" <%}%> >
                     
                            <div id="uploadDiv" style="margin-top: 5px;">
                                <div style="font-weight: bold;">
                                    我要上传图片 <span><input name="photocount" type="text" id="photocount" class="textbox" style="width: 20px;" />  张</span>
                                </div>
                                正面：<input type="file" name="FileUpload1" id="FileUpload1" multiple="multiple"/><br />
                                背面：<input type="file" name="FileUpload2" id="FileUpload2" multiple="multiple" /><br />
                                邮戳：<input type="file" name="FileUpload3" id="FileUpload3" multiple="multiple"/><br />
                            </div>
                        </div>
                    
                      
                        <div id="maxnumber"<% if (locals.topic_type=="晒片"||locals.topic_type=="话题"){%> style="display:none" <%}%> >
                            <div style="font-weight: bold;">
                                提供/需要的明信片数量
                            </div>
                            <input name="number_limit" type="text" id="number" class="textbox" style="width: 50px;" value=<%= locals.number_limit || '' %> ""/><font
                                color='red'>（新增功能）</font> 如不想限制参加人数，请勿填任何内容。
                        </div>
                                           
    </div>

      </fieldset>

      <fieldset>

          <label class='bold' for='t_content'>内容</label>
          <textarea class='editor' id='wmd-input' name='t_content' rows='20'><%= locals.content || '' %></textarea>

          <input type='hidden' id='topic_tags' name='topic_tags' value=''></input>
          <input type='hidden' name='_csrf' value='<%= csrf %>' />
          <button id='submit_btn' type="submit" class='btn'>发布</button>

   
        </fieldset>
      </form>
    </div>


    <% } %>

  </div>  
</div>

<!-- ajaxupload -->
<!-- markdown editor -->
<%- Loader('/public/topic_edit.min.js')
  .js('/public/libs/ajax-upload/ajaxupload.js')
  .js('/public/libs/epiceditor/epiceditor.js')
  .js('/public/javascripts/editor.js')
  .done(assets, config.site_static_host, config.mini_assets)
%>

<script>
$(function () {
   
  $('.tag_selectable').click(function(){
    $(this).toggleClass('tag_select');
  });

  $('#submit_btn').click(function(){
    var values=[];
    $('.tag_selectable').each(function(){
      if($(this).hasClass('tag_select')){
        values.push($(this).attr('tag_id'));
      }
    });
    $('#topic_tags').val(values);
    $('#create_topic_form').submit();
  });
});
</script>

