<%- partial('sidebar') %>

        <div id="content">

  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>收到明信片</li>
      </ul>
    </div>


                     <% if(locals.error){ %>
			<div class="alert alert-error">	
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<strong><%= error %></strong>
			</div>
			<% } %>

            <h1> 所有可以提供的明信片</h1>
            <div id="supplylist">
            <div id="2618" class="supply_div"><font color='red'>[求]</font>:功能测试 <a href="http://image.zcool.com.cn/img3/39/56/b_1369359459936.jpg" target="_blank">查看图片</a> <span class="del_span" onclick="ShowDelete('2618',event)">删除</span></div></div>
            <div style="margin-top: 20px;">
                <table id="type" border="0">
	<tr>
		<td><input id="type_0" type="radio" name="type" value="1" checked="checked" /><label for="type_0">供</label></td><td><input id="type_1" type="radio" name="type" value="2" /><label for="type_1">求</label></td>
	</tr>
</table>
                <br />
                说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明:
                <input name="supply" type="text" id="supply" style="width:300px;" />
                <br />
                图片链接:
                <input name="link" type="text" id="link" style="width:300px;" />
                <input type="submit" name="add" value="添加" id="add" />
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                (http://www.icardyou.com/images/logo.gif)
            </div>
        </div>
        <br clear="all">
        <!--消息提示框 -->
        <div style="display: none; position: absolute;" id="msgbox">
            <div id="msgtop">
                <div id="msgtitle">
                </div>
                <div onclick="CloseMsgBox()" id="msgclose">
                    关闭
                </div>
            </div>
            <div id="msginfo">
            </div>
            <div id="msgcontent">
            </div>
            <input type="hidden" id="idvalue" />
        </div>
        <!--消息提示框结束 -->
    </div>

