<%- partial('sidebar') %>

<script type="text/javascript">

function isNull( str ){ 
   if ( str == "" ) return true; 
   var regu = "^[ ]+$"; 
   var re = new RegExp(regu); 
   return re.test(str); 
} 

function checkSubmit()
{
    var info= document.getElementById("info");
    var url = document.getElementById("url");
    if(!info.value.length)
    {
      alert("说 明 不能为空");
        info.focus();
        return false;
    }
    if(info.value.length>50)
     {
      alert("说 明 过长");
        info.focus();
        return false;

     }
    if(!url.value.length)
    {
         alert("图片链接不能为空");
         url.focus();
    }
    if(url.value.length>80)
     {
      alert("图片链接网址过长");
        url.focus();
        return false;

     }


}
</script>


 <div id="content">
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>供求</li>
      </ul>
    </div>


                     <% if(locals.error){ %>
			<div class="alert alert-error">	
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<strong><%= error %></strong>
			</div>
			<% } %>

            <h3> 所有可以提供的明信片</h3>
            <div id="supplylist">

               
             </div>  
                <form method="post" onsubmit="return checkSubmit();" action="/mysupply/" >
               <table id="type" border="0" align="center" >
	        <tr>
		<td align="center">
               <input id="type_0" type="radio" name="type" value="供" checked="checked" />
                <label for="type_0">供</label>
               </td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
               <td align="center">
                 <input id="type_1" type="radio" name="type" value="求" /><label for="type_1">求</label>
                </td>
                </tr>
                </table>
                   <div align="center">
                <br />
                说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明:
                <input name="info" type="text" id="info" style="width:300px;" />
                <br />
                图片链接:
                <input name="url" type="text" id="url" style="width:300px;" />
                <input type='hidden' name='_csrf' value='<%= csrf %>' /> 
                
                  <br/> (示例: http://www.icardyou.com/images/logo.gif)
                <br/>
                <input type="submit" name="add" class="btn btn-success" value="添加" id="add" />
                </form>
                </div>
         
        </div>
        <br clear="all">
        <!--消息提示框 -->
        <div style="display: none; position: absolute;" id="msgbox">
            <div id="msgtop">
                <div id="msgtitle">
                </div>
                <div onclick="CloseMsgBox()" id="msgclose">
                    关闭
                </div>
            </div>
            <div id="msginfo">
            </div>
            <div id="msgcontent">
            </div>
            <input type="hidden" id="idvalue" />
        </div>
        <!--消息提示框结束 -->
    </div>

