<%- partial('sidebar') %>


<div id='content'>
      <form id='create_topic_form' action='/my/messages/send' method='post'>
      <% } %>
        <fieldset>
         <label class='bold' for='title'>发件人</label>
          <textarea class='span9' id='title' name='sender' rows='1' disabled><%= locals.sender || '' %></textarea>

          <label class='bold' for='title'>收件人</label>
          <textarea class='span9' id='title' name='reciver' rows='1' disabled><%= locals.receiver || '' %></textarea>
          <label class='bold' for='t_content'>内容</label>
          <textarea class='editor' id='title' name='msg_content' rows='2' placeholder="请在此输入内容，字数控制在5到100个之间"><%= locals.content || '' %></textarea>
          <button id='submit_btn' type="submit" class='btn'>发布</button>
        </fieldset>
      </form>

<div id='content'>
